@model IEnumerable<RaidModel>
@{
    ViewData["Title"] = "Raids";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Notes</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Notes</td>
                <td>
                    <button class="btn btn-primary" data-toggle="ajax-modal" data-id="@item.ID" data-url="@Url.Action("Edit")">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="ajax-modal"
        data-url="@Url.Action("Edit")">
    Add raid
</button>

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
